body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.select-tags{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.select-tags .label-info{
    display: inline-block;
    margin: 5px;
    white-space: normal;
}
.select-tags .label-info{
    margin-right: 10px;
}

.btn-publish{
    float: right;
    margin-bottom: 15px;
}

.media-object{
    width: 38px;
    height: 38px;
}
.media-body{
    padding-top: 17px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.profile .section{
    margin-top: 25px;
}
.question-tag{
    margin-right: 5px;
}
.question-related{
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.operation{
    color: #999999;
    font-size: 13px;
}
.jumbotron{
    margin: 50px;
}

.comment{
    margin: 10px 0;
}
.btn-comment{
    float: right;
    margin-bottom: 15px;
}
.comments{
    margin-bottom: 15px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 5px;
}
.sub-comments{
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    padding-top: 15px;
}
.sub-comments .btn{
    margin: 10px 0;
}
.comment-hr{
    margin-top: 0;
}
.comment-operate{
    color: #999999;
    font-size: 13px;
    margin-bottom: 15px;
}
.comment-operate .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.comment-operate .comment-icon{
    font-size: 15px;
    cursor: pointer;
}
.comment-operate .comment-icon:hover{
    color: #499ef3;
}
.comment-operate .active{
    color: #46b8da;
}
.comment-operate .icon:hover{
    color: #499ef3;
}

.footer-font{
    color: #666666;
    padding: 15px 25%;
}